@{
    ViewBag.Title = "About the GameStore";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>

    <h3>@ViewBag.Message</h3>
</hgroup>
<div id="pContainer">
    <div class="span12">
        <p>
            A simple eCommerce website built by Justin Vignone.<br />Thank you for taking the time to stop by and check it out.
        </p>

    </div>
    <div class="inner">
        <ul class="actions">
            <li><a href="@Url.Action("Index","Home")" class="button next">Return</a></li>
        </ul>
    </div>
</div>